<div class="booyah-box">
  <h1>About this page.</h1>
  <br />
  <p>
    Nomster is a web application developed by Ben Kim.<br /><br />
    Take a look at what others are saying about places to eat around town!<br /><br />
    Log in (or sign up) as a user in order to upload your own place. Logged in users may also upload photos and leave reviews on place pages.
  </p>
  <br class="clear"/>
  <h1>About the developer.</h1><br/>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'ben.jpg', class: "img-fluid" %>
    </div>
    <p class="col-12 col-sm-7 offset-sm-1">
      Ben is an educator and developer living in Los Angeles. He believes that eggs should always be sunny and coffee should always be black.
    </p>
  </div>
</div>